@import "tailwindcss";

@font-face {
  font-family: 'Kurdis';
  src: url('/fonts/WOFF2/Kurdis-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Kurdis';
  src: url('/fonts/WOFF2/Kurdis-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Kurdis';
  src: url('/fonts/WOFF2/Kurdis-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Kurdis';
  src: url('/fonts/WOFF2/Kurdis-ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Kurdis';
  src: url('/fonts/WOFF2/Kurdis-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Inter', sans-serif;
  color: #1A1A1A;
  background-color: #FFFFFF;
}

#root {
  width: 100%;
  min-height: 100svh;
}
